PUCMINAS.SistemaAcademico/PUCMINAS.SistemaAcademico.Aplicacao/Service References/SistemaAcademicoServico/EnderecoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11908/EnderecoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" />
  <xs:element name="buscaCep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscaCepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buscaCepResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" minOccurs="0" name="obj" nillable="true" type="q1:EnderecoObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirEnderecoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTodosEnderecos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTodosEnderecosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" minOccurs="0" name="BuscaTodosEnderecosResult" nillable="true" type="q2:ArrayOfEnderecoObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEndereco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarEnderecoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" minOccurs="0" name="obj" nillable="true" type="q3:EnderecoObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarEnderecoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>