PUCMINAS.SistemaAcademico/PUCMINAS.SistemaAcademico.Aplicacao/Service References/SistemaAcademicoServico/EnderecoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PUCMINAS.SistemaAcademico.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnderecoObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnderecoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnderecoObj" nillable="true" type="tns:EnderecoObj" />
  <xs:complexType name="ArrayOfEnderecoObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnderecoObj" nillable="true" type="tns:EnderecoObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnderecoObj" nillable="true" type="tns:ArrayOfEnderecoObj" />
</xs:schema>